.sisdai-mapa-control {
  &-etiqueta-atribucion {
    right: 0;
    bottom: 0;
    > button {
      display: none;
    }
  }

  &-navegacion-teclado {
    top: calc(
      var(--margen) + (3 * (var(--alto-boton) + var(--espacio-entre-botones)))
    );
    right: var(--margen);
  }
}
