// This file is part of sisdai-mapas.
//
//   sisdai-mapas is free software: you can redistribute it and/or modify
//   it under the terms of the GNU Lesser General Public License as published by the
//   Free Software Foundation, either version 3 of the License, or
//   (at your option) any later version.
//
//   sisdai-mapas is distributed in the hope that it will be useful,
//   but WITHOUT ANY WARRANTY; without even the implied warranty of
//   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General
//   Public License for more details.
//
//   You should have received a copy of the GNU Lesser General Public License along
//   with sisdai-mapas. If not, see <https://www.gnu.org/licenses/>.


$margen: 12px;

.sisdai-mapa-control {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: $margen;

  &-zoom {
    > button {
      margin: 0;
      &:not(:last-child) {
        margin-bottom: calc($margen / 2);
        margin-right: 0px;
      }
    }
  }

  &-ajuste-vista {
    bottom: 0;
  }

  &-escala-grafica {
    bottom: 0;
    left: calc(34px + $margen) !important;

    .ol-scale-bar-inner {
      .ol-scale-step-marker {
        height: 10px;
        top: 0px !important;
      }
      .ol-scale-singlebar {
        height: 3px;
        top: 8px;
      }
      .ol-scale-step-text {
        bottom: 10px;
        font-size: 11px;
      }
      div > .ol-scale-step-marker {
        top: -2px !important;
      }
    }
  }
}
