.sisdai-mapa.contenedor-vis {
  &.gema {
    .contenedor-vis-paneles {
      height: 100%;
      max-height: max-content;
      padding: 0;
      border-radius: 0;
      grid-template-columns: 1fr auto;

      .contenido-vis {
        grid-column-end: span 2;
      }
    }

    .contenedor-vis-atribuciones {
      display: none;
    }
  }
}
