@import 'sisdai-css/src/_variables';
@import 'sisdai-css/src/_mixins';
@import './../estilos/ContenedorVis.scss';

.sisdai-mapa.contenedor-vis2 {
  &.gema {
    .contenedor-vis2-paneles {
      height: 100%;
      max-height: max-content;
      padding: 0;
      border-radius: 0;
      grid-template-columns: 1fr auto;

      .contenido-vis {
        grid-column-end: span 2;
      }
    }

    .contenedor-vis-atribuciones {
      display: none;
    }
  }
}
